.containerSkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #15002fd7;
    width: 100%;
    height: auto;
    padding: 3rem 5rem;
    padding-bottom: 6rem;
    color: aliceblue;
}
.skillHead{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.skillBody{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.leftSkill{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 40px;
    width: 30%;
}
.skillImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.skillImgContainerItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(50, 156, 255, 0.562), #0e0450f9);  
    margin-bottom: 6px;
    border: 1px solid rgb(183, 255, 247);
    transition: .4s;
}
.skillImgContainerItem:hover{
    box-shadow: 0px 0px 15px rgb(0, 255, 224);
    transform: scale(1.10);
    transition: .4s;
}
.skillImg{
    width: 60px;
}
.rightSkill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    width: 65%;
}
.rightSkillImg{
    justify-self: center;
    width: 400px;
}

@media screen and (max-width:1410px){
    .rightSkillImg{
        justify-self: center;
        width: 375px;
    }
}
@media screen and (max-width:1340px){
    .rightSkill{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
    }
    .skillBody{
        flex-direction: column;
        align-items: center;
    }
    .leftSkill{
        width: 80%;
        margin-bottom: 40px;
    }
    .rightSkill{
        width: 100%;
    }
    .rightSkillImg{
        justify-self: center;
        width: 400px;
    }
}
@media screen and (max-width:1000px){
    .skillHead{
        font-size: 25px;
    }
    .skillBody{
        width: auto;
        padding-bottom: 20px;
    }
    .rightSkill{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
    }
    .leftSkill{
        width: 100%;
    }
}
@media screen and (max-width:450px){
    .containerSkills{
        padding: 3rem 0rem;
    }
    .leftSkill{
        margin-bottom: 50px;
    }
    .rightSkillImg{
        justify-self: center;
        width: 350px;
    }
}
@media screen and (max-width: 410px){
    .containerSkills{
      padding: 3rem 1rem;
    }
    .rightSkillImg{
        width: 20rem;
    }
    .skillImgContainer{
        font-size: 18px;
    }
}